@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.my-blog {
    font-family: 'Nunito Sans', sans-serif;
}

.custom-bg {
    background-color: #355c7d;
    color: white;
}